<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid1" >
        <div class="grid1-element">Text1...</div>
        <div class="grid1-element">Text2...</div>
        <div class="grid1-element">Text3...</div>
        <div class="grid1-element">Text4...</div>
        <div class="grid1-element">Text5...</div>
        <div class="grid1-element">Text6...</div>
    </div>
    <br>
    <div class="grid2" >
        <div class="grid2-element">Text1...</div>
        <div class="grid2-element">Text2...</div>
        <div class="grid2-element">Text3...</div>
        <div class="grid2-element">Text4...</div>
        <div class="grid2-element">Text5...</div>
        <div class="grid2-element">Text6...</div>
    </div>
</body>

</html>