<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="flexbox1" >
        <div class="flexbox1-element">Text1...</div>
        <div class="flexbox1-element">Text2...</div>
        <div class="flexbox1-element">Text3...</div>
        <div class="flexbox1-element">Text4...</div>
        <div class="flexbox1-element">Text5...</div>
        <div class="flexbox1-element">Text6...</div>
    </div>
    <br>
    <div class="flexbox2" >
        <div class="flexbox2-element">Text1...</div>
        <div class="flexbox2-element">Text2...</div>
        <div class="flexbox2-element">Text3...</div>
        <div class="flexbox2-element">Text4...</div>
        <div class="flexbox2-element">Text5...</div>
        <div class="flexbox2-element">Text6...</div>
    </div>
    <br>
    <div class="flexbox3" >
        <div class="flexbox3-element">Text1...</div>
        <div class="flexbox3-element">Text2...</div>
        <div class="flexbox3-element">Text3...</div>
        <div class="flexbox3-element">Text4...</div>
        <div class="flexbox3-element">Text5...</div>
        <div class="flexbox3-element">Text6...</div>
        <div class="flexbox3-element">Text7...</div>
        <div class="flexbox3-element">Text8...</div>
        <div class="flexbox3-element">Text9...</div>
        <div class="flexbox3-element">Text10...</div>
        <div class="flexbox3-element">Text11...</div>
        <div class="flexbox3-element">Text12...</div>
    </div>
</body>

</html>