html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  /* font-size: 1vw; */
  font-family: Arial, Helvetica, sans-serif;
}
  
nav {
  background-color: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: max-content;
  /* box-shadow: 0vw 1vw 2vw 0vw black; */
  z-index: 1;
}

#title-logo {
  display: block;
  width: auto;
  height: 18vw;
  max-width: 176px;
  max-height: 66px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  /* position: relative; */
  bottom: 0px;
  min-width: 320px;
  height: 100%;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.nav-button {
  width: max-content;
  max-height: 176px;
  float: left;

  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;

  display: block;
  font-size: clamp(1rem, 3.6vw, 2rem);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  color: white;
}

.nav-button:hover, .nav-button:focus {
  background-color: darkgrey;
  color:white;
}

.nav-button.current {
  color: white;
  background-color: skyblue;
}

section {
  margin-top: 240px;
  display: block;
}

p {
  display: block;
  font-size: 1.4rem;
  color: black;
}

picture {
  width: 100%;
  height: auto;
  min-width: 200px;
}

.emphasis {
  font-weight: bold;
  font-size: 2rem;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
  gap: 40px 20px; 
}

.product {
  width: 80%;
  height: max-content;
  background-color: lightblue;
  text-decoration: none;
}

.product:hover, .product:focus {
  transition: 100ms ease;
  transform: translate(0, -16px);
}

.product-name {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.product-descr {
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.2rem;
}

.product-img {
  width: 100%;
  aspect-ratio : 1 / 1;
  background-color: rgb(235, 235, 237);
}

.centered {
  text-align: center; 
}

.inline-link, .inline-link:visited {
  color: skyblue;
}

/* tablets screens */
@media screen and (min-width: 600px) {
  #title-logo {
    display: block;
    width: auto;
    height: 18vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-container {
    justify-content: start;
  }

  .nav-button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .product {
    width: 40%;
  }

  .product-name {
    font-size: 1.6rem;
  }
}
 
/* laptops/desktops screens */
@media screen and (min-width: 1024px) {
  section {
    margin-top: 140px;
  }

  #title-logo {
    display: block;
    float: left;
    width: auto;
    height: 18vw;
  }

  .nav-button {
    height: 106px;
    padding-top: 36px;
    font-size: 2rem;
  }

  .product {
    width: 30%;
  }
}
